//
// minibrowser.rc
//

#include <winres.h>

#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 500, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_APPWINDOW
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_URL,5,5,390,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Go",IDC_GO,400,5,20,14
    PUSHBUTTON      "F5",IDC_REFRESH,425,5,20,14
    PUSHBUTTON      "Info",IDC_INFO,450,5,20,14
    PUSHBUTTON      "Stop",IDC_STOP,475,5,20,14
    CONTROL         "WebOC",IDC_WEBOC,MINIHOST,WS_TABSTOP,5,24,490,220
END

BOUNCE.HTM    HTML    "res\\bounce.htm"
