//
// minibrowser.rc
//

#include <winres.h>

#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Start", IDOK,198,155,50,14
    PUSHBUTTON      "Close", IDCANCEL,252,155,50,14
    CONTROL         "WebOC", IDC_WEBOC, MINIHOST, WS_TABSTOP,7,7,295,139
END

BOUNCE.HTM    HTML    "res\\bounce.htm"
